<div class="form-container">
  <p class="success" *ngIf="isSubmitted">Success! Thank you for registering</p>
  
  <ng-container *ngIf="!isSubmitted">
    <ng-container *ngTemplateOutlet="form"></ng-container>
  </ng-container>
</div>

<ng-template #form>
  <form #registerForm=""ngModel (ngSubmit)="onSubmit()">
    <input 
      type="text"
      class="form-field"
      placeholder="First name"
      name="firstname"
      ngModel
      required
      #fname="ngModel"
      autocomplete="off"
      />
      <small *ngIf="fname.invalid && fname.touched" class="error">*First name is a required field</small>
      <input 
      type="text"
      class="form-field"
      placeholder="Last name"
      name="lastname"
      ngModel
      #lname="ngModel"
      required
      autocomplete="off"
      />
      <small *ngIf="lname.invalid && lname.touched" class="error">*Last name is a required field</small>
      <input 
      type="email"
      class="form-field"
      placeholder="Email"
      name="email"
      required
      ngModel
      #email="ngModel"
      autocomplete="off"
    />
    <small *ngIf="email.invalid && email.touched" class="error">*Email is not valid</small>
    <button class="form-field">register</button>
  </form>
</ng-template>